.ekart--search--product{
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ekart-search-product-input{
  width: 40%;
  height: 5.5vh;
  padding: 1px 10px;
  outline: none;
  border-radius: 2px;
  background-color: #efefef;
  border:#28282B 1px solid;
}

.btn{
  padding: 5px 10px;
  border: none;
}

.btn-search{
  padding: 13px 30px;
  background-color: #28282B;
  margin-left: -1px;
  color:#fff;
  transition: 0.3s;
}

.btn-search-disabled {
  padding: 13px 30px;
  background-color: #ca9292;
  margin-left: -1px;
  color: #fff;
  border: #aaa 1px solid;
  cursor: not-allowed;
}

.ekart-search-result-for{
  margin: 20px auto;
  padding: 10px 140px;
}

/* .btn,
.btn-search,
.btn-search-disabled {
  border-radius: 0;
} */
